@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
}

.container {
  height: 100svh;
  width: 100%;
  background-color: #000;
}

.navs {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
}
.logo {
  height: 50px;
  width: 50px;
}

.logo-1 {
  background-color: #dd1804;
}
.logo-2 {
  background-color: #d72332;
}
.logo-3 {
  background-color: #ef5605;
}
.nav {
  position: relative;
  width: 300px;
  height: 100px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  margin: 1em;
  padding: 15px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
}
