* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: #e3dcc7;
}

.container {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  color: rgb(0, 0, 0, 0.6);
}
.nav .link {
  display: flex;
  align-items: center;
  gap: 1em;
}

.text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.text h1 {
  font-size: 8rem;
  transform: translateY(-100%);
}

.images {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.images .image {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
