* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100svh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  background-color: #222;
}

.control__buttons {
  position: fixed;
  top: 80%;
  display: flex;
  gap: 3em;
  left: 5%;
}

.control__buttons .prev,
.control__buttons .next {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.control__buttons .prev button,
.control__buttons .next button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

.prev:hover {
  border: 0.5px solid black;
}
.next:hover {
  border: 0.5px solid black;
}
.prev:hover button {
  color: black;
}
.next:hover button {
  color: black;
}

.slide-texts {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.slide-texts__text {
  width: 500vw;
  height: 100svh;
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}

.slide-texts__text .text {
  flex: 1;
  position: relative;
  top: 50%;
  left: 2%;
  z-index: 100;
}

.slide-texts__text .text h1 {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.small-slider {
  width: 20vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.small-slider__image {
  height: 100svh;
  width: 100vw;
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}
.small-slider__image .small-img {
  flex: 1;
}
.small-slider__image .small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-slider__image,
.big-slider__image {
  transition: transform 0.8s ease;
}

.big-slider {
  width: 50vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 0;
  overflow: hidden;
}

.big-slider__image {
  height: 100svh;
  width: 250vw;
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}
.big-slider__image .big-img {
  flex: 1;
}
.big-slider__image .big-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
