* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container {
  position: relative;
  height: 600px;
  width: 500px;
  overflow: hidden;
}

.img-container .img {
  position: absolute;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-color: #fd5530;
}

.img-blocks {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.block {
  width: 50px;
  height: 50px;
  mix-blend-mode: hard-light;
  background-color: #fff989;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.block.active {
  opacity: 0.75;
}
