@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Tiny5", sans-serif;
}
