* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.nav__menu--open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  background-color: #121212;
}
.nav__menu--open h1 {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  right: 2%;
  top: 2%;
}

.nav__menu--close {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  background-color: #d2d2d2;
}

.nav__menu--close .nav-close {
  position: absolute;
  color: #121212;
  font-size: 1.5rem;
  right: 2%;
  top: 2%;
}

.nav_links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  flex-direction: column;
}
.nav__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  gap: 2em;
}

.nav__link h1 {
  font-size: 5rem;
  line-height: 1;
}
.img {
  width: 150px;
  height: 100px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
