* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #161616;
  padding: 0 120px;
}

.content {
  width: 70%;
  margin: 200px auto;
}

h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 0.8em 0;
  margin: 1.2em 0 0.8em 0;
}

p {
  font-size: 40px;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 0.4em 0;
  margin: 1.2em 0 0.8em 0;
}

.text {
  position: relative;
  color: transparent;
  display: inline-block;
  overflow: hidden;
  transition: color 0.8s;
}

.text::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
}

.text.reveal {
  color: #fff;
  animation: revealTextAnimation 0.64s ease forwards;
}

.text.reveal::before {
  background-color: #6c2e13;
  animation: blockRevealAnimation 0.64s ease forwards;
}
.img {
  position: relative;
  display: block;
  overflow: hidden;
}

.img img {
  max-width: 100%;
  opacity: 0;
}

.img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.img.reveal::before {
  background-color: #544c26;
  animation: blockRevealAnimation 0.64s ease forwards;
}

.img.reveal img {
  animation: imageRevealAnimation 0.64s ease forwards;
}

@keyframes blockRevealAnimation {
  0% {
    left: -100%;
  }
  40% {
    left: 0%;
  }
  60% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes revealTextAnimation {
  0% {
    color: transparent;
  }
  40% {
    color: transparent;
  }
  60% {
    color: #fff;
  }
}

@keyframes imageRevealAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
