* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  background-color: #fefefe;
  text-align: center;
  font-weight: 800;
}
.navs {
  width: 100%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.menu {
  flex: 1;
}

.left-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  flex-direction: column;
}

.left-menu h1 {
  font-size: 4rem;
}
.nav-close {
  position: absolute;
  top: 2%;
  right: 3%;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
}
.menu-nav h1 {
  font-size: 5rem;
}

.nav-menu {
  cursor: pointer;
}
