@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anaheim", sans-serif;
  background-color: #d3d0bd;
  color: #272727;
  overflow: hidden;
}

.preview {
  position: absolute;
  width: 250px;
  height: 250px;
  transform-origin: center;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.preview.show {
  opacity: 1;
}

.preview-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateY(0);
}

p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;
}

.header p {
  opacity: 0.5;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.project {
  width: 100%;
  padding: 2.5em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.preview-img.active {
  transform: translateY(0) !important;
  z-index: 1;
}

.project > div {
  flex: 3;
}

.project div:last-child {
  flex: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .location,
  .service {
    display: none;
  }
}
