* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: monospace;
}

footer,
nav {
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  z-index: 10;
}
footer {
  bottom: 0;
}
nav {
  top: 0;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #fff;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.slide:not(#slide-1) {
  transform-origin: center;
  z-index: 2;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
