* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.carousal-items {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 5px;
}

.carousal-item {
  width: 60px;
  height: 80px;
}

.active-item {
  position: fixed;
  left: 30px;
  bottom: 36px;
  width: 450px;
  height: 550px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  text-transform: uppercase;
  font-size: 12px;
}
