@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: "Pirata One", system-ui;
}

.loader {
  width: 100%;
  height: 100svh;
}

.loader-clip {
  position: absolute;
  width: 100%;
  height: 33.3vh;
  overflow: clip;
  z-index: 1000;
}

.clip-top {
  top: 0%;
  clip-path: inset(0 0 0 0);
  background-color: #000;
}

.clip-bottom {
  bottom: 0;
  clip-path: inset(0 0 0 0);
  background-color: #000;
}

.clip-center {
  position: relative;
  width: 100%;
  height: 33.3vh;
  top: 33.3vh;
  overflow: hidden;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  mix-blend-mode: difference;
  font-size: 16vw;
  color: #fff;
}

.marquee-container {
  width: 100%;
  padding-top: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}

.container .navs {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 3em;
  justify-content: space-between;
}
.nav {
  display: flex;
  gap: 2em;
}

.container .footer {
  padding-bottom: 1.5em;
}
