* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
  cursor: none;
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-size: 1.5rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.wrapper {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.project-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 8em;
  gap: 2em;
}

.project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2em;
  border-bottom: 0.5px solid rgb(185, 185, 185);
  mix-blend-mode: difference;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 200px;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  will-change: transform;
}

.cursor img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
