* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 3em;
  background-color: #121212;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  height: 100px;
  overflow: hidden;
}

.text p {
  font-size: 100px;
  line-height: 100px;
}
