@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: #cdea67;
  font-family: "New Amsterdam", sans-serif;
}

.navs {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navs .nav {
  display: flex;
  gap: 2em;
}
footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svg {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-decoration: none;
  font-size: 175px;
  font-weight: 700;
  line-height: 175px;
  color: #0f0f0f;
  height: 175px;
  overflow: hidden;
  text-transform: uppercase;
}

div {
  display: flex;
}

.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .letter{
    display: inline-block;
    transition: tranform 0.6s cubic-bezier(0.76,0,0.24,);
}
