@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: #cdea67;
  font-family: "New Amsterdam", sans-serif;
}

.navs {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navs .nav {
  display: flex;
  gap: 2em;
}
footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svg {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-decoration: none;
  font-size: 175px;
  font-weight: 700;
  line-height: 175px;
  color: #0f0f0f;
  height: 175px;
  overflow: hidden;
  text-transform: uppercase;
}

div {
  display: flex;
}

.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .letter {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}
.letter:nth-child(2) {
  transition-delay: 0.015s;
}
.letter:nth-child(3) {
  transition-delay: 0.03s;
}
.letter:nth-child(4) {
  transition-delay: 0.045s;
}
.letter:nth-child(5) {
  transition-delay: 0.06s;
}
.letter:nth-child(6) {
  transition-delay: 0.075s;
}
.letter:nth-child(7) {
  transition-delay: 0.09s;
}
.letter:nth-child(8) {
  transition-delay: 0.105s;
}
.letter:nth-child(9) {
  transition-delay: 0.12s;
}
.letter:nth-child(10) {
  transition-delay: 0.135s;
}
.letter:nth-child(11) {
  transition-delay: 0.15s;
}
.letter:nth-child(12) {
  transition-delay: 0.165s;
}
