* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: #e3e3e3;
  color: #000;
  overflow: hidden;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
}

.text {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 10px;
}

.text a {
  position: relative;
  font-size: 18px;
}

.text-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-revealer::after {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}

.gallery {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.img {
  position: absolute;
  width: 75px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}
