@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  font-family: "Bebas Neue", sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  z-index: 2;
  pointer-events: none;
}

.nav > div {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
  height: 100svh;
  display: flex;
}

.container .col {
  width: 50%;
  height: 100%;
}

.container .img-preview {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
}

.container .img-preview .img-preview-container {
  width: 160px;
  height: 220px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  will-change: clip-path;
}

.container .img-names {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
}

.container .img-names .img-name {
  position: relative;
  width: max-content;
  height: max-content;
  cursor: pointer;
}

.container .img-names .img-name .name-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.container .img-names .img-name .name {
  position: relative;
  top: 0;
  font-size: 4rem;
  text-transform: uppercase;
}

.container .img-names .img-name .name-revealer:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #fff;
}

.img-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100svh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.img-modal .img-view {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.img-modal .close-btn {
  position: absolute;
  right: 25%;
  width: max-content;
  height: max-content;
  margin: 1em;
  cursor: pointer;
}

.img-modal .close-btn .btn {
  position: relative;
  top: -20px;
  font-size: 11px;
  text-transform: uppercase;
}

.img-modal .close-btn .btn-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.img-modal .close-btn .btn-revealer:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #fff;
}

.img-modal-name {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
}

.img-modal-name .modal-name {
  position: relative;
  top: -20px;
  font-size: 11px;
  text-transform: uppercase;
}

.img-modal-name .modal-name-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.img-modal-name .modal-name-revealer:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #fff;
}

@media (max-width: 700px) {
  .img-modal .close-btn {
    right: 30%;
  }
  .img-modal .img-view {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
  }

  .img-modal-name {
    top: 15%;
    right: 30%;
    left: unset;
    transform: translate(0, 0);
    margin: 1em;
  }
}
