@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  font-family: "Vina Sans", sans-serif;
}

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.word {
  display: flex;
}

span {
  font-size: 10vw;
  text-transform: uppercase;
  transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  transform-origin: bottom;
  color: rgb(162, 31, 31);
  will-change: transform;
}
