@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  font-family: "Geo", sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

h1 {
  font-weight: 500;
  margin: 4em 50px 2em 50px;
}

p {
  font-size: 12px;
  color: gray;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10em;
}
