* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* .container{
    height: 100svh;
    width: 100%;
} */

.navs {
  width: 100%;
  padding: 1.5em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
}
.navs .nav {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.img-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  height: 90svh;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.header h1 {
  font-size: 3rem;
  line-height: 1.5em;
  font-weight: bold;
}

.wrapper {
  position: fixed;
  height: 100svh;
  width: 100%;
  background-color: #000;
  z-index: 5;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(80px) scaleY(0);
  transform-origin: 50% 100%;
  width: 8%;
  height: 20vh;
  z-index: 5;
  background-color: #fff;
  opacity: 0; /* hide until GSAP drives it */
}
