@import url("https://fonts.googleapis.com/css2?family=Erica+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  font-family: "Erica One", sans-serif;
  background-color: #a0a0a0;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
}
nav .link {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.header .h1 {
  position: relative;
  font-size: 28vw;
  text-transform: uppercase;
  color: #1a1a1a;
  line-height: 0.85;
}

.hero {
  position: relative;
  width: calc(100vw - 4em);
  height: 100%;
  margin: 0 auto 2em;
  border-radius: 10px;
  border: 4px solid #1a1a1a;
}
.hero-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  z-index: 2;
}

.bar {
  width: 10vw;
  height: 105vh;
  background-color: #1a1a1a;
}

.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.2em 0.4em;
  font-size: 20vw;
  color: #bcbcc4;
  z-index: 10;
  line-height: 1;
}
