* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img{
    width: 100%;
    height: 100svh;
    overflow: clip;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    will-change: transform;
}

.map{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 35vh;
    overflow: clip;
    background-color: #fff;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.assist{
    width: 15vw;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: clip;
}

.images{
    width: 100%;
    height: 100%;
    overflow: clip;
}