* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img{
    width: 100%;
    height: 100svh;
    overflow: clip;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    will-change: transform;
}