@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #1b21f9;
  --bg: #e3e3e3;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 6rem;
  text-align: center;
}

.menu-container {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 200px;
  height: 35px;
  overflow: hidden;
}

.menu-container .col {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

.menu-container .col:nth-child(1) {
  left: 0;
}

.menu-container .col:nth-child(2) {
  left: 200px;
}
.menu-container .col .menu-item {
  background-color: var(--accent);
  color: var(--bg);
  margin: 0.075rem;
  padding: 0.75rem;
  font-size: 12px;
}

.menu-container .col2 .menu-item {
  position: relative;
  left: 200px;
}

.marquee-container {
  position: absolute;
  right: 0;
  width: 200px;
  padding: 0.5rem;
  background-color: var(--bg);
  color: var(--accent);
  overflow: hidden;
  border: 2px solid var(--accent);
  pointer-events: none;
  display: none;
}

.marquee-container .marquee {
  width: 200px;
}
