body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
#quote {
  -webkit-transform: translate3d(0, 0, 0);
  color: #dfdcff;
  font-size: clamp(2rem, 6rem, 4vw);
  line-height: 1.2;
  margin: 50px auto;
  width: 800px;
  visibility: hidden;
  background-color: blue;
}

#quote div {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: red;
}
