:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --container-bg-color: #de5e40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--container-bg-color);
  overflow: hidden;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 60px;
  font-size: 1.2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 10;
  border-radius: 50px;
}

.header {
  position: absolute;
  height: 100svh;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  transform: translateY(100%);
}

.header h1 {
  font-size: 6rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.text-wrapper {
  position: absolute;
  height: 100svh;
  width: 100%;
  background-color: var(--container-bg-color);
  z-index: 8;
}

.text {
  position: relative;
  left: -100%;
  width: 350%;
}

.text h1 {
  font-size: 5rem;
  color: #121212;
  opacity: 0.6;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}
