* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.slider {
  width: 100%;
  cursor: pointer;
}
.slider-wrapper {
  white-space: nowrap;
}

.slider-item {
  display: inline-block;
  width: 40vw;
  padding: 3vw;
}

.slider-item figure {
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}

.slider-item figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 2px;
  margin: 2em;
  background: rgba(255, 255, 255, 0.1);
}

.slider-progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: 0 0;
}
