* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: #000;
  font-family: monospace;
  order: hidden;
}

.header {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
}

h1,
p {
  text-align: center;
  color: white;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.2rem;
}

button {
  padding: 1em 3em;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  transition: all 0.3s ease;
}

.gallery {
  width: 100%;
  height: 100%;
}
.item {
  position: absolute;
  height: 280px;
  width: 200px;
  will-change: transform;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
