@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-text: #000;
  --color-bg: #f7f5ee;
  --color-link: #000;
  --color-link-hover: #000;
  font-size: 15px;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Bebas Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  font-weight: 600;
}
a:hover {
  color: var(--color-link-hover);
  outline: none;
}

.oh {
  overflow: hidden;
}

.oh__inner {
  display: inline-block;
  transform-origin: 0% 50%;
  will-change: transform;
}

.grid {
  display: grid;
  --grid-border-radius: 8px;
  grid-template-columns: repeat(2, 50%);
}

.grid--large {
  grid-auto-rows: 33.33vmin;
  padding: 0.5vw;
  --grid-padding: 0.5vw;
}

.grid--mini {
  position: absolute;
  width: 220px;
  height: 190px;
  --grid-padding: 1px;
  margin-bottom: 3vh;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.grid__cell {
  display: grid;
  align-items: end;
}

.grid--mini .grid__cell:not(.grid__cell--current):hover .grid__cell-img {
  opacity: 0.7;
}

.grid__cell--current .grid__cell-img {
  opacity: 0.3;
}
.grid__cell-img {
  width: calc(100% - var(--grid-padding) * 2);
  height: calc(100% - var(--grid-padding) * 2);
  margin: var(--grid-padding);
  border-radius: var(--grid-border-radius);
  display: block;
  position: relative;
  overflow: hidden;
}

.grid__cell-img-inner {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15vh 8vw 0;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__item {
  position: absolute;
  opacity: 0;
  display: grid;
}

.content__item--current {
  opacity: 1;
  position: relative;
  pointer-events: auto;
}

.content__item-number {
  font-weight: 600;
  display: block;
}

.content__item-heading {
  font-size: 4vw;
  line-height: 1;
  margin: 1rem 0 3rem 0;
  font-weight: 600;
}

.content__item-text {
  max-width: 30ch;
  margin-bottom: 2rem;
}

.content__item-link {
  cursor: pointer;
}

.slide-nav {
  position: fixed;
  width: 40%;
  right: 15%;
  top: 0;
  height: 100%;
  display: grid;
  align-content: space-between;
  pointer-events: none;
}

.slide-nav__img {
  width: 100%;
  height: 10vh;
  position: relative;
  overflow: hidden;
  opacity: 0.3;
  cursor: not-allowed;
}

.content--open .slide-nav__img {
  pointer-events: auto;
}

.slide-nav__img--prev {
  transform: translateY(-100%);
  border-radius: 0 0 1.5vw 1.5vw;
}

.slide-nav__img--next {
  transform: translateY(100%);
  border-radius: 1.5vw 1.5vw 0 0;
}

.slide-nav__img-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.back {
  background: none;
  border: 0;
  padding: 0;
  margin: auto 0 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  stroke: #000;
  z-index: 1000;
  cursor: pointer;
  width: 50px;
}

.back svg {
  stroke-linecap: round;
}

.back:hover,
.back:focus {
  outline: none;
  stroke: #823725;
}

.content--open .back {
  pointer-events: auto;
}
