* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #c6c6c6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.navs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 3em;
}
.navs .link {
  display: flex;
  gap: 2em;
}
.navs h1 {
  font-size: 1rem;
}

.details {
  margin-top: 10em;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-inline: 3em;
}

.details .details-text {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
.wrapper .text {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text .text-img {
  position: relative;
  flex-grow: 1;
  font-size: 220px;
  font-weight: 700;
  line-height: 1;
  transition: all 300ms ease-in-out;
  transform-origin: 50% 100%;
}

.text .text-img:hover {
  flex-grow: 2;
  transform: scale(1.36);
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  overflow: hidden;
  pointer-events: none;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.8);
}
