* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #161616;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: serif;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  color: #ccc;
  font-family: sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.scroll-wrapper {
  min-height: 100svh;
  width: 100%;
  padding: 150px 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  transition: transform 0.3s;
  will-change: transform;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 140px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .scroll-wrapper {
    padding: 100px 0;
  }
  .container {
    width: 90%;
  }
  .content {
    gap: 0.8em;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.7rem;
    letter-spacing: 0;
  }
}
